




/* Custom style added for new refererences */

.left-border {
  border-left: 1px solid #CCC;
}



.disabled {
	opacity: 0.5;
}

.regular {
    padding: 15px 10px;
    background-color: #E64848;
    border-color: #d43f3a;
    color: white;
}
.accelerated {
    padding: 15px 10px;
    background-color: #00B964;
    border-color: #4cae4c;
    color: white;

}

#equipment input {
    min-width: 124px;
}

.percent {
    max-width: 80px;
    display: inline;
}
.percent-text
{
    position: relative;
    left: -30px;
}

.bdc th {
    width: 25%;
}

.paging_full_numbers a{
      margin: 5px 3px;
  CURSOR: POINTER;
}