.volunteer-top, .volunteer-bottom{
	width:100%;

}

.block1 li{
	display: inline;

}

.volunteer-body .left{
	float:left;
	width:60%;
	margin:10px;
}

.volunteer-body{
	margin-top:-40px;

}
.volunteer-body .right{
	float:right;
	width:35%;
	margin:10px;

}

.training-cost tr td{
	padding:5px;

}
.resource-person{
	width:100%;
}

.table-bottom tr td{
	padding:10px;
}

.kalahi-longA{
	width:300px;
}

.kalahi-select-shortA{
	width:100px;

}

.kalahi-select-shortC{
	width:150px;
}

.kalahi-select-longA{
	width:200px;

}

.kalahi-medA{
	width:70px;

}
.kalahi-medB{
	width:150px;

}

.kalahi-medC{
	width:170px;

}

.kalahi-medD{
	margin-right:10px;
	width:200px;

}

.kalahi-table-header{
	text-align:center !important;
	color:#0088cc;
	background:#E7E7E5;
}

.profile-table tr{
	cursor:pointer;

}

.pit-label{
	color:#0088cc;
	background:#E7E7E5;
}

.volunteer-table thead{
	color:#0088cc;
	background:#E7E7E5;

}

.volunteer-outer-table tr{
	margin:10px;
}

.volunteer-inner-table{
	margin:20px;
	margin-right:35px;
}


.legend{
	font-size:14px;
	font-weight: bold;
}

#sector-rep .modal-dialog{
	
}

#sector-rep .modal-content{
	width:100%;
}

.form-control{
	margin:5px;
	
}


.disabled {
	opacity: 0.5;
}